# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# secret key
.env

# venv
env
venv
myenv

# other
.DS_Store

# javascript
package-lock.json

media/*
!media/.gitkeep
staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json