<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for message in messages %}
          {% if message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <span class="alert-inner--text"><strong>{{ message }}</strong></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}
      {% endfor %}

    <form method="POST" enctype="multipart/form-data" id="tambah-pembayaran-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="image_file">Masukkan Gambar</label>
            <div class="input-group input-group-alternative mb-3">
                {{ form.image_file }}
            </div>
        </div>
        <span class="text-error">{{ form.image_file.errors }}</span>

        <button type="submit">Compress</button>
    </form>
</body>
</html>